html {
    overflow-x: hidden;
    padding-bottom: 6rem;
}

.w-30 {
    width: 30%;
    @media (max-width: 992px) {
        width: 100%;
    }
}

.w-60 {
    width: 60%;
    @media (max-width: 992px) {
        width: 100%;
    }
}

button,
a,
input {
    cursor: pointer;
}