.card.auctionDetails {
    border: none;
    &:hover {
        transform: unset !important;
    }
    .img_main {
        border: 1px solid $textGrey;
        width: 100%;
        height: 560px;
        object-fit: cover;
        padding: 3rem;
    }
    .imgs_thumbnails {
        img {
            border: 1px solid #7a7a7a;
            width: 45px;
            height: 45px;
            padding: 5px;
            cursor: pointer;
            object-fit: cover;
        }
    }
    .card-title {
        color: $textBlack;
        font-size: 32px;
        font-weight: 600;
    }
    .card-text {
        color: $textGrey;
        font-size: 24px;
        font-weight: 400;
    }
    .stats {
        padding: 8px 10px;
        span {
            font-size: 16px;
        }
    }
    .list-group-item span {
        font-size: 20px;
        color: $textBlack !important;
    }
    .btns {
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            &:not(:last-of-type) {
                margin-right: 1rem;
            }
        }
    }
}

.accordion {
    h3 {
        color: $textBlack;
        font-size: 32px;
        font-weight: 600;
    }
}

#buyNowModal {
    .modal-dialog {
        @media (min-width: 767px) {
            max-width: 904px;
            width: 90%;
        }
        .modal-body {
            padding: 0;
        }
        .nav {
            .nav-item {
                .nav-link {
                    @extend %smallText;
                    font-weight: 600;
                    &.active {
                        color: $textGrey;
                        font-weight: 400;
                    }
                }
            }
            .btn-close {
                padding: 14px;
            }
        }
        .tab-content {
            padding: 1rem;
            h6 {
                @extend %smallText;
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            .card {
                padding: .5;
                font-size: 1rem;
                color: $textBlack;
                &-title {
                    span {
                        font-size: 60px;
                    }
                }
                h6 {
                    color: $textGrey;
                }
            }
        }
    }
}