.footer {
    background-color: $darkerGreen;
    .form {
        p {
            font-size: 20px;
            font-weight: 500;
        }
        .form-control {
            border-color: #164B60;
            background-color: $blackBackGround;
            padding: 0.75rem;
            &,
            &::placeholder {
                color: $darkGreen;
                font-size: 14px;
            }
        }
        textarea {
            height: 112px;
            resize: none;
        }
    }
    .links {
        h5 {
            font-size: 20px;
        }
        li {
            margin-bottom: 1rem;
            color: $LightGreen;
            font-size: 1rem;
        }
        .followUs {
            a {
                margin-left: 10px;
            }
            i {
                font-size: 24px;
            }
        }
    }
}