.navbar {
    @include media-breakpoint-up(lg) {
        height: 6.25rem;
    }
    background-color: $darkerGreen;
    &-brand {
        width: 60px;
    }
    &-nav {
        .nav-item {
            &:not(:last-of-type) {
                margin-right: 1.2rem;
            }
            &.active {
                border-bottom: 2px solid $colorPrimary;
                .nav-link {
                    color: $colorPrimary;
                }
            }
            .nav-link {
                font-size: 1rem;
                color: $LightGreen;
                padding-bottom: 5px;
            }
        }
    }
    .langs {
        width: 42px;
    }
}